<div data-region-alias='$ralias' data-descr='$descr' data-competition-header='$id'>
	<div class='head_all'>
		<div class='empty_btn'></div>
		<div class='header_first'>
			<div class='cols_info_wrap'>
				<div class='cols_info'>
					<div class='cols_info-o'>Endergebnis</div>
				</div>
				<div class='cols_info'>
					<div class='cols_info-o'>Doppelte Chance</div>
				</div>
				#if ($descr == 'f-live' || $descr == 'pre-match')
				<div class='cols_info'>
					<div class='cols_info-o'>HZ/Satz/Drittel</div>
				</div>
				#else
				<div class='cols_info'>
					<div class='cols_info-o'>HZ/Satz/Drittl</div>
				</div>
				#end
				<div class='cols_info'>
					<div class='cols_info-o'>Über/Unter</div>
				</div>
			</div>
			<div class='mh_text'>
				<div class='head_img'></div>
				<span class='head_span'>$name</span>
			</div>
		</div>
		<hr></hr>
		<div class='header_second'>
			<div class='cols_info_wrap'>
				<div class='cols_info'>
					<div id='infoone' class='cols_info-o'>1</div>
					<div id='infotwo' class='cols_info-o'>X</div>
					<div id='infothree' class='cols_info-o'>2</div>
				</div>
				<div class='cols_info'>
					<div id='infoone' class='cols_info-o'>1X</div>
					<div id='infotwo' class='cols_info-o'>12</div>
					<div id='infothree' class='cols_info-o'>X2</div>
				</div>
				<div class='cols_info'>
					<div id='infoone' class='cols_info-o'>1</div>
					<div id='infotwo' class='cols_info-o'>X</div>
					<div id='infothree' class='cols_info-o'>2</div>
				</div>
				<div class='cols_info'>
					<div id='infoone' class='cols_info-o'> </div>
					<div id='infotwo' class='cols_info-o'>+</div>
					<div id='infothree' class='cols_info-o'>-</div>
				</div>
			</div>
		</div>
	</div>
	#foreach ($game in $games)
		$game
	#end
</div>